* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

nav {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

nav a {
  color: #fff;
}

nav h1 {
  float: left;
  padding-top: 20px;
}

nav ul {
  list-style: none;
  float: right;
}

nav li {
  float: left;
}
nav li a {
  display: block;
  padding: 20px;
  text-align: center;
}

nav li a:hover, a.current {
  background: #444;
  color: #f7c08a;
}

